src/main/resources/META-INF/customer.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.lihd.com/schema/customer"
        elementFormDefault="qualified">

    <element name="customer">
        <complexType>
            <attribute name="id" type="integer"/>
            <attribute name="name" type="string"/>
        </complexType>
    </element>

</schema>